# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/build/.cxx
build/.last_build_id
/build/app
/build/reports
/build/native_hooks
/build/flutter_assets
build/6ab642d2d29d49c7c5f5a6d85fcef46b.cache.dill.track.dill
build/ee3a76ae41b23653883b17b4869bb342/.filecache
/build/ee3a76ae41b23653883b17b4869bb342
/build/windows
